/*class 언더바 id 낙타표기*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.row {
    width: 100%;
    height: 90%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left_column {
    padding: 0.8% 0.8% 0;
    float: left;
    width: 40%;
    height: 100%;
    background-color: #EBEBEB;
}

.item {
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.item a {
    color: black;
    text-decoration: none;
}

.reservation_header {
    padding: 20px 0;
    align-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    height: 56px;
}

.tray {
    float: left;
    width: 100%;
    height: 91%;
    overflow-x: hidden;
    overflow-y: auto;
}

.hotel_img {
    width: 100%;
    height: 50%;
}

.hotel_img img {
    display: block;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.content {
    margin-top: 10px;
    padding: 0 20px;
    width: 100%;
    height: 105%;
}

.hotel_name {
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0;
}

.check_time {
    display: flex;
    width: 100%;
    max-height: 300px;
    padding: 25px 0;
}

.check_time .name {
    font-size: 12px;
    margin-bottom: 20px;
}

.check_time .date {
    font-size: 17px;
    margin-bottom: 5px;
}

.check_time .time {
    font-size: 25px;
}

.check_in {
    height: 100%;
    width: 48%;
}

.check_out {
    padding-left: 4%;
    border-left: 1px solid #DDDDDD;
    height: 100%;
    width: 52%;
}

.reserved_date {
    font-size: 12px;
    color: #717171;
    padding: 5px 0;
}

.related_table {
    padding: 20px 0;
    font-weight: bold;
    font-size: 16px;
}

.related_number {
    padding-top: 15px;
    font-size: 16px;
    font-weight: normal;
}

.date {
    font-size: 15px;
    margin-bottom: 10px;
}

.related_active {
    font-size: 18px;
    padding: 2rem 5px;
    font-weight: 600;
    margin: 0;
}

.related_active:hover {
    background-color: whitesmoke;
}

.line {
    border-bottom: 1px solid #E6E6E6;
}

.right_column {
    float: right;
    width: 60%;
    height: 100%;
    background-color: #ffffff;
}

#map {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        padding: 0;
    }
}