<!doctype html>
<html lang="ko">
<head>
    <title>페이지를 찾을 수 없습니다.</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="/static/images/logo/logo-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/error.css"/>
</head>
<body>
<ul class="top_nav">
    <li id="logo">
        <a href="/" class="active">
            <img class="logo_image" src="/static/images/logo/logo-cabin.png">
        </a>
    </li>
</ul>
<div class="row">
    <div class="column">
        <div class="empty_card">
            <div class="size_up">죄송합니다.</div>
            <div>요청하는 페이지를 찾을 수 없습니다.</div>
        </div>
    </div>
</div>
</body>
</html>
