/*class 언더바 id 낙타표기*/

/*상단 이미지*/
.left_side{
    float:left;
    width:51.4%;
    height: 100%;
}

.middle_side{
    float:left;
    width:24.2%;
    height: 100%;
}
.right_side{
    float:left;
    width:24.2%;
    height: 100%;
}

.left_side img{
    display: block;
    background-position: center center;
    background-size: cover;
    height: auto;
    width: 100%;
}
.middle_side img{
    display: block;
    background-position: center center;
    background-size: cover;
    height: auto;
    width: 100%;
}
.right_side img{
    display: block;
    background-position: center center;
    background-size: cover;
    height: auto;
    width: 100%;
}
/*이미지 끝*/

.row {
    width: 80%;
    margin: 30px auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left_column {
    float: left;
    width: 65%;
    padding-left: 30px;
    background-color: white;
}

.right_column {
    position: sticky;
    position: -webkit-sticky;
    top : 60px;
    float: left;
    width: 35%;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.item {
    background-color: white;
    padding: 0 20px;
    margin: 20px 0 20px 0;
    border: 1px solid #E6E6E6;
    font-size: 20px;
}
.item a {
    color: black;
    text-decoration: none;
}
/*우측 item 창*/
#leftSideTop{
    border: 0;
    padding-top: 1px;
}

.hotel_info{
    margin:10px 10px 20px 10px;
}
.line{
    margin:10px;
    border-bottom : 1px solid #E6E6E6;
}

.hotel_name{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

/*숙소 세부설명*/
#leftSideMiddle{
    border: 0;
    margin-top:10px;
}
.hotel_description{
    font-size: 16px;
    margin-bottom: 10px;
}

#map {
    width:100%;
    height:400px;
    clear:both;
    margin-bottom: 40px;
}
.location{
    font-weight: bold;
    padding: 7px 0 14px;
    font-size: 17px;
}

/*숙소 후기*/
#leftSideBottom{
    border: 0;
    margin-top:10px;
}

.hotel_review{
    padding-bottom: 5px;
}

.tray{
    display:flex;
    margin: 20px 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.review_profile{
    height: 50px;
    width:100%;
}

.profile_img {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius : 25px;
    transition: 0.3s;
    text-align: center;
    position:relative;
    z-index:1;
}

.profile_img img{
    display: block;
    background-position: center center;
    background-size: cover;
    height: 50px;
    width: 50px;
    float: left;
}
.profile_info{
    float: left;
    text-align: left;
    margin:0 15px;
    padding-top:5px;
    height:100%;
    width: 100px;
}

.review_detail{
    float: bottom;
    text-align: left;
    padding-top:5px;
    /*height:100%;*/
    width: 100%;
}

.margin_top{
    margin-top:10px
}
#leftSideBottom .line{
    margin:10px 0 0;
    border-bottom : 1px solid #E6E6E6;
}

/*right_column*/
.per_day_charge{
    font-weight: bold;
    font-size:17px;
    padding:15px 0;
    border-bottom: 1px solid #D8D8D8;
}
/*숙소 날짜 및 가격*/
.reservation_tray{
    margin: 10px auto;
    padding:10px;
    height: 70px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
}
.reservation_tray :hover{
    cursor: pointer;
}

.calendar_btn {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    border: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

#greenBtn{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    border: #fbfbfb solid 1px;
    cursor:pointer;
    background-color: #088A85;
    color:white;
    padding:10px;
    font-size:18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight:500;
}

.receipt{
    padding : 10px 0;
    font-weight: lighter;
    font-size: 14px;
}
.receipt .charge_detail{
    margin: 10px 0;
    padding : 5px 0;
    border-bottom: 1px solid #E6E6E6;
}

#chargeSum{
    padding : 0;
    margin: 5px 0;
    border-bottom: 0;
    font-weight: bold;
}

.charge_detail .charge{
    float:right;
    width: 20%;
    text-align: right;
}

.footer {
    padding: 5px;
    text-align: center;
    background: #ffffff;
    margin-top: -20px;
    color: darkgrey;
    border-top: 1px solid whitesmoke;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        padding: 0;
    }
}