/*class 언더바 id 낙타표기*/
* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
body {
    margin: 0;
    padding:0;
}
.top_nav {

}
.top_nav .title{
    width: 80%;
    margin: 30px auto;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    padding:20px 0;
}
.top_nav .back_btn {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}
.row {
    width: 75%;
    margin: 30px auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left_column {
    float: left;
    width: 50%;
    background-color: white;
}

.right_column {
    position: sticky;
    position: -webkit-sticky;
    top : 0;
    float: left;
    width: 45%;
    background-color: #ffffff;
    padding-left: 5%;
}

.item {
    background-color: white;
    margin: 20px 0 20px 0;
    border: 1px solid #E6E6E6;
    font-size: 20px;
}
.item a {
    color: black;
    text-decoration: none;
}
.item_title{
    margin-top: 30px;
    font-weight: bold;
    font-size:25px;
}
/*우측 item 창*/
#leftSideTop{
    border: 0;
}

.tray{
    display:flex;
    margin: 40px 0 30px;
    padding : 10px 0;
    height: 100px;
}

.card {
    width: auto;
    height: 80px;
}

.card img{
    display: block;
    background-position: center center;
    background-size: cover;
    height: 80px;
    width: auto;
    border-radius: 5px;
}

.img_desc {
    text-align: left;
    padding : 1px 15px;
    font-size: 15px;
    width: auto;
}
/*우측 item 창*/

/*숙소 세부설명*/
#leftSideMiddle{
    border: 0;
}

.reservation_category{
    margin-top: 30px;
    font-size:16px;
    font-weight: bold;
}
/*숙소 날짜 및 가격*/
.reservation_tray{
    width:35%;
    height: 100%;
    font-size: 14px;
}
.reservation_tray :hover{
    cursor: pointer;
}

.calendar_btn {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: left;
    padding:0;
    border: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}

/*호스트에게 메세지*/
#messageToHost{
    border: 0;
    margin-bottom: 40px;
}
.sub_title{
    font-size: 14px;
    font-weight: lighter;
    margin-top:7px;
}
.message {
    width: 95%;
    font-size: 14px;
    font-weight: lighter;
    margin-top:20px;
    height:300px;
    padding:3%;
    border-radius: 10px;
    border : 1px solid #2E2E2E;
}

/*숙소 방식*/
#leftSideBottom{
    border: 0;
    margin-top:10px;
}
.payment .btn{
    /*float:left;*/
    margin:20px 10px 0 0;
    cursor: pointer;
    width:100px;
    height:54px;
    border-radius: 1rem;
    background-color: white;
    border: 0;
    outline: 0;
}

.login_api_img{
    margin-top:0.1rem;
    width: 80px;
    height:35px;
}
#paymentBtn{
    border-radius: 10px;
    height: 100%;
    width: 30%;
    border: #fbfbfb solid 1px;
    cursor:pointer;
   font-weight: bold;
    background-color: #088A85;
    color:white;
    margin:20px 0;
    padding:15px 0;
    font-size:18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/*우측 요금 세부정보 */
#rightSide{
    padding: 20px 20px;

}

.right_side_title{
    font-weight: bold;
    font-size:25px;
    padding:15px 0;
}

.receipt{
    padding : 10px 0;
    font-weight: lighter;
    font-size: 16px;
}
.receipt .charge_detail{
    margin: 10px 0;
    padding : 10px 0;
    border-bottom: 1px solid #E6E6E6;
}
.charge_detail .charge{
    float:right;
    width: 20%;
    text-align: right;
}
.currency_mark{
    float:right;
    width: 20%;
    text-align: right;
}
#chargeSum{
    margin: 5px 0;
    border-bottom: 0;
    font-weight: bold;
}

.footer {
    padding: 5px;
    text-align: center;
    background: #ffffff;
    margin-top: -20px;
    color: darkgrey;
    border-top: 1px solid whitesmoke;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        padding: 0;
    }
}