<div class="search_modal hidden">
    <div class="search_modal_overlay"></div>
    <div class="search_modal_content">
        <div style="height:20px"></div>
        <div class="search_modal_header">
            숙박 가능 리스트
        </div>
        <div class="country_name">
            말레이시아 쿠알라룸푸르
        </div>
        <div class="country_name">
            말레이시아 쿠알라룸푸르
        </div>
        <div class="country_name">
            말레이시아 쿠알라룸푸르
        </div>
    </div>
</div>