<div class="search_modal hidden">
    <div class="search_modal_overlay"></div>
    <div class="search_modal_content">
        <div class="search_modal_header">
            지역 리스트
        </div>
        <div class="country_box" country-id="쿠알라룸푸르">
                <div class="country_flag">
                    <img src="https://img.icons8.com/emoji/38/000000/malaysia-emoji.png"/>
                </div>
                <div class="country_name">
                    말레이시아 · 쿠알라룸푸르 숙소
                </div>
        </div>
        <div class="country_box" country-id="방콕">
            <div class="country_flag">
                <img src="https://img.icons8.com/emoji/38/000000/thailand-emoji.png"/>
            </div>
            <div class="country_name">
                태국 · 방콕 숙소
            </div>
        </div>
        <div class="country_box" country-id="서울">
            <div class="country_flag">
                <img src="https://img.icons8.com/emoji/38/000000/south-korea-emoji.png"/>
            </div>
            <div class="country_name">
                대한민국 · 서울 숙소
            </div>
        </div>
        <div class="country_box" country-id="도쿄">
            <div class="country_flag">
                <img src="https://img.icons8.com/emoji/38/000000/japan-emoji.png"/>
            </div>
            <div class="country_name">
                일본 · 도쿄 숙소
            </div>
        </div>
    </div>
</div>