/*class 언더바 id 낙타표기*/
.row {
    width: 80%;
    margin: 50px auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 100%;
    background-color: #ffffff;
}

.item {
     background-color: white;
     padding: 20px;
     margin: 30px 0 80px 0;
     border: 1px solid #E6E6E6;
     border-radius: 10px;
     font-size: 20px;
 }
.item_title{
    height: 40px;
    font-size: 25px;
    font-weight: bolder;
    color: #2E2E2E;
    text-align:center;
}
.item a {
    color: black;
    text-decoration: none;
}
.tray{
    display:flex;
    margin: 20px auto;
}
.card {
    width: 50%;
    height: 50%;
    margin: 0 2%;
    cursor: pointer;
    border: 1px solid #E6E6E6;
    overflow: hidden;
    border-radius : 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    position:relative;
    z-index:1;

}
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
}
.card img{
     display: block;
    position:relative;
     background-position: center center;
     background-size: cover;
     height: 180px;
     width: 100%;
     top: 0;
}
#recommendation img{
    vertical-align: middle;
    background-image: linear-gradient(to bottom,
    rgba(30, 30, 30, 0.0) 50%,
    rgba(30, 30, 30, 0.75) 80%,
    rgba(30, 30, 30, 1) 80%);
}
.img_desc_div {
    text-align: left;
    padding-left:15px;
    position: absolute;
    bottom: 1px;
    background-image: linear-gradient(to bottom,
    rgba(30, 30, 30, 0) 10%,
    rgba(30, 30, 30, 0.5) 50%,
    rgba(30, 30, 30, 1) 100%);
    /*background: rgba(0, 0, 0, 0.5); !* Black background with 0.5 opacity *!*/
    color: white;
    font-size: 14px;
    width: 100%;
}

input {
    appearance: none;
    border: none;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}
input:focus{
    background: #FFFFFF;
    box-shadow: black;
    /*border: 2px solid deepskyblue;*/
    outline: none;
    padding: 13px 13px 13px 54px;
}
input[type="search"] {
    box-sizing: content-box;
    font-size: 20px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    appearance: none;
}

input[type="submit"] {
    cursor: pointer;
}

.form__field {
    display: flex;
    flex-wrap: wrap;
}

.form__input {
    flex-grow: 1;
}

/*여행지검색버튼*/
:root {
    --searchBackgroundColor: #FFFFFF;
    --searchBorderRadius: .125rem;
    --searchFontSize: .75rem;
    --searchPadding: .1rem;

    --searchInputBorderRadius: 0.5rem;

    --searchInputSearchBackgroundColor: #fff;
    --searchInputSearchColor: #42454e;
    --searchInputSearchPaddingHorizontal: .5rem;
    --searchInputSearchPaddingVertical: .375rem;

    --searchInputButtonBackgroundColor: #1bba9a;
    --searchInputButtonColor: #fff;
    --searchInputButtonFontWeight: bold;
    --searchInputButtonPaddingHorizontal: .625rem;
    --searchInputButtonPaddingVertical: .375rem;
    --searchInputButtonHoverBackgroundColor: #189e83;
}

.search {
    background-color: var(--searchBackgroundColor);
    border-radius: var(--searchBorderRadius);
    font-size: var(--searchFontSize);
    padding: var(--searchPadding);
}

.search input[type="search"],
.search input[type="image"] {
    border-radius: var(--searchInputBorderRadius);
}

.search input[type="search"] {
    background-color: var(--searchInputSearchBackgroundColor);
    color: var(--searchInputSearchColor);
    padding: var(--searchInputSearchPaddingVertical) var(--searchInputSearchPaddingHorizontal);
}

.search input[type="image"] {
    background-color: var(--searchInputButtonBackgroundColor);
    color: var(--searchInputButtonColor);
    font-weight: var(--searchInputButtonFontWeight);
    margin-left: .5rem;
    padding: var(--searchInputButtonPaddingVertical) var(--searchInputButtonPaddingHorizontal);
}

.search input[type="image"]:focus,
.search input[type="image"]:hover {
    background-color: var(--searchInputButtonHoverBackgroundColor);
}

.footer {
    padding: 5px;
    text-align: center;
    background: #ffffff;
    margin-top: -20px;
    color: darkgrey;
    border-top: 1px solid whitesmoke;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
     .column {
        width: 100%;
        padding: 0;
    }
}