/*class 언더바 id 낙타표기*/
.row {
    width: 80%;
    margin: 30px auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 100%;
    background-color: #ffffff;
}

#searchBar {
    padding: 10px;
    margin: 50px 40px 150px;
    position: relative;
}

#searchButton {
    border-radius: 10px;
    font-size: 15px;
    background-color: var(--searchInputButtonBackgroundColor);
    font-weight: var(--searchInputButtonFontWeight);
    margin: 5px 0;
    padding: 5px;
    height: 40px;
    cursor: pointer;
}

#searchButton .search_img {
    float: left;
    height: 40px;
}

#searchButton .img_name {
    float: left;
    height: 20px;
    padding: 4px 7px;
}

#searchBar .item {
    background-color: white;
    margin: 0;
    padding: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    font-size: 20px;
}

.item {
    background-color: white;
    padding: 20px;
    margin: 30px 0 90px 0;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    font-size: 20px;
}

.item_title {
    height: 40px;
    font-size: 25px;
    color: #2E2E2E;
    text-align: center;
    font-weight: 600;
}

.item a {
    color: black;
    text-decoration: none;
}

.tray {
    display: flex;
    margin: 30px auto 20px;
}

.card {
    width: 50%;
    height: 50%;
    margin: 0 2%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
    z-index: 1;

}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
}

.card img {
    display: block;
    position: relative;
    background-position: center center;
    background-size: cover;
    height: 180px;
    width: 100%;
    top: 0;
}

#recommendation img {
    vertical-align: middle;
    background-image: linear-gradient(to bottom,
    rgba(30, 30, 30, 0.0) 50%,
    rgba(30, 30, 30, 0.75) 80%,
    rgba(30, 30, 30, 1) 80%);
}

.card_info {
    margin: 15px 0;
    padding: 0 10px;
    font-size: 14px;
}

.card_name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
}

.img_desc {
    text-align: left;
    padding-left: 15px;
    position: absolute;
    bottom: 0.1px;
    background-image: linear-gradient(to bottom,
    rgba(30, 30, 30, 0.3) 0%,
    rgba(30, 30, 30, 0.4) 20%,
    rgba(30, 30, 30, 0.5) 40%,
    rgba(30, 30, 30, 1) 100%);
    /*background: rgba(0, 0, 0, 0.5); !* Black background with 0.5 opacity *!*/
    color: white;
    font-size: 13px;
    width: 100%;
}

.desc_spacing {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 15px;
}

p {
    margin: 0.3rem 0 0.5rem;
    color: #DDDDDD;
}

.footer {
    padding: 5px;
    text-align: center;
    background: #ffffff;
    color: darkgrey;
    border-top: 1px solid whitesmoke;
}

.footer a {
    text-decoration: none;
    color: black;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        padding: 0;
    }
}