/*class 언더바 id 낙타표기*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

#logo {
    margin: 0 auto;
    float: left;
}
#logo a{
    /*color: gold;*/
    /*text-decoration: none;*/
    padding: 0 0 0 25px;

}
.logo_image{
    width: 200px;
    height:70px;
    line-height:60px;/*글자의 세로폭을 늘려주는 속성*/
    vertical-align:middle;
    object-fit: cover;
}

ul.topnav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none solid rgb(72,72,72);
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 0.5px solid #E6E6E6;

}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    border-bottom: 2px solid black;
}

ul.topnav li a.active {
}

ul.topnav li.right {
    float: right;
}

div#navAlign {
    display: block;
    float: right;
}

.menu-trigger {
    display: none;
}

.row {
    width: 90%;
    margin: 10px auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftcolumn {
    float: left;
    width: 25%;
    padding-left: 30px;
    background-color: white;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 60%;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
}
#news{
    margin-bottom: -5px;
    margin-right: 10px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}
/*좌측 기둥 카드*/
.card .title{
    padding-bottom: 15px;
    margin-bottom: 7px;
    border-bottom: 0.5px solid #E6E6E6;
    font-size: 16px;
    color: #2E2E2E;
}
.card .contents{
    font-size: 13px;
    padding: 12px 0 12px 0;
    color: #2E2E2E;
    font-weight: lighter;
}

/*우측 기둥 카드*/
.card .under_line{
    padding-bottom: 15px;
    margin-bottom: 7px;
    border-bottom: 0.5px solid #E6E6E6;
}

.card .profile {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90%;
    overflow: hidden;
    vertical-align:middle;
    /*object-fit: cover;*/
}
.card .pic_posi{
    float: left;
    padding-right: 15px;
}
.card .r_title{
    height: 20px;
    font-size: 14px;
    color: #2E2E2E;
}
.card .r_sub{
    height: 20px;
    font-size: 14px;
    color: #2E2E2E;
}

.card .reply{
    font-size: 14px;
    color: #2E2E2E;
    text-align: right;
}

.card .pic_cotent {
    width: 400px;
    height: 250px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    overflow: hidden;
    vertical-align:middle;
    /*object-fit: cover;*/
}

.card .top_line{
    padding-top: 15px;
    margin-top: 7px;
    border-top: 0.5px solid #E6E6E6;
}

.card .contents a:hover{
    color: green;
    text-decoration: underline;
}
.card .top_line a:hover{
    color: green;
    text-decoration: underline;
}
.card a {
    color: black;
    text-decoration: none;
}

/* Footer */
.footer {
    padding: 5px;
    text-align: center;
    background: #ffffff;
    margin-top: 40px;
    color: darkgrey;
    border-top: 1px solid whitesmoke;
}

@media screen and (max-width: 600px) {
    #logo{
        float: none;
    }
    div#navAlign {
        float: none;
    }

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }

    .card .pic_cotent {
        width: 90%;
        height: 250px;
        display: block;
        margin: 0px auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 2%;
        overflow: hidden;
        vertical-align:middle;
        /*object-fit: cover;*/
    }
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}