* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

#logo {
    margin: 0 auto;
    float: left;
}
#logo a{
    padding: 0;

}
.logo_image{
    width: 60px;
    height:70px;
    vertical-align:middle;
    object-fit: cover;
}

ul.topnav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0 25px 0 25px;
    text-decoration: none solid rgb(72,72,72);
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 0.5px solid #E6E6E6;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    padding-bottom:23px;
    border-bottom: 2px solid black;
}

ul.topnav li a.active {
}

ul.topnav li.right {
    float: right;
}

div#navAlign {
    display: block;
    float: right;
}

@media screen and (max-width: 600px) {
    #logo{
        float: none;
    }
    div#navAlign {
        float: none;
    }

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }

    .card .pic_cotent {
        width: 90%;
        height: 250px;
        display: block;
        margin: 0px auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 2%;
        overflow: hidden;
        vertical-align:middle;
        /*object-fit: cover;*/
    }
}