/*class 언더바 id 낙타표기*/
* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#logo {
    margin: 0 auto;
    float: left;
}

#logo a {
    padding: 0;
}

.logo_image {
    margin: 5px 0;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    object-fit: cover;
}

ul.top_nav {
    z-index: 2;
    height: 70px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0 25px 0 25px;
    text-decoration: none solid rgb(72, 72, 72);
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 0.5px solid #E6E6E6;
}

ul.top_nav li {
    float: left;
}

ul.top_nav li a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    cursor: pointer;
}

ul.top_nav li a:hover:not(.active) {
    border-bottom: 2px solid black;
}

ul.top_nav li a.active {
}

ul.top_nav li.right {
    float: right;
}

div#navAlign {
    margin-top: 1px;
    display: block;
    float: right;
}

@media screen and (max-width: 600px) {
    #logo {
        float: none;
    }

    div#navAlign {
        float: none;
    }

    ul.top_nav li.right,
    ul.top_nav li {
        float: none;
    }

    .card .pic_content {
        width: 90%;
        height: 250px;
        display: block;
        margin: 0px auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 2%;
        overflow: hidden;
        vertical-align: middle;
        /*object-fit: cover;*/
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .top_nav a {
        float: none;
        width: 100%;
    }
}