<!doctype html>
<html lang="ko">
<head>
    <title>방 이름</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="https://img.icons8.com/doodle/48/000000/log-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
<!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/room/detail.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css"/>
<!--    datePicker-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--    datePicker-->
</head>
<body>
<ul class="top_nav">
    <li id="logo"><a href="/" class="active"><img class="logo_image" src="https://img.icons8.com/doodle/48/000000/log-cabin.png"></a></li>
    <div id="navAlign">
        <li><a id="openLogin">로그인</a></li>
        <li><a id="openRegister">회원가입</a></li>
    </div>
</ul>
<!--로그인 모달-->
<div class="modal hidden">
    <div class="modal_overlay"></div>
    <div class="modal_content">
        <div class="modal_header">
            <button class="btn">x</button>
        </div>
        <div id="form-main">
            <div id="form-div">
                <!--                    로그인모달-->
                <form method="post" action="auth" name="login-form" id="loginForm">
                    <h1>로그인</h1>
                    <p class="email">
                        <input name="email" type="text" class="validate[required,custom[email]] feedback-input"
                               id="email" placeholder="이메일 주소"/>
                    </p>
                    <p class="password">
                        <input name="password" type="password"
                               class="validate[required,custom[password]] feedback-input" id="password"
                               placeholder="비밀번호"/>
                    </p>
                    <div class="submit">
                        <input type="submit" value="로그인" id="button-green"/>
                    </div>
                </form>
                <!--                회원가입 모달-->
                <form method="post" action="register" name="reg-form" id="regForm">
                    <h1>회원가입</h1>
                    <p class="nick_name">
                        <input name="id" type="text" class="validate[required,custom[id]] feedback-input" id="id"
                               placeholder="이름(닉네임)"/>
                    </p>
                    <p class="email">
                        <input name="email" type="text" class="validate[required,custom[email]] feedback-input"
                               id="email" placeholder="이메일 주소"/>
                    </p>
                    <p class="password">
                        <input name="password" type="password"
                               class="validate[required,custom[password]] feedback-input" id="password"
                               placeholder="비밀번호"/>
                    </p>
                    <div class="submit">
                        <input type="submit" value="회원가입" id="button-green"/>
                    </div>
                </form>
                <!--                비밀번호 재설정 모달-->
                <form method="post" action="find_pw" name="find-pw-form" id="findPwForm">
                    <h1>비밀번호 재설정</h1>
                    <div>계정으로 사용하는 이메일 주소를 입력하시면, 비밀번호 재설정 링크를 전송해 드립니다.</div>
                    <p class="email">
                        <input name="email" type="text" class="validate[required,custom[email]] feedback-input"
                               id="email" placeholder="이메일 주소"/>
                    </p>
                    <div class="email_submit" id="backToLogin">
                        <div class="box">
                            <div id="go_login">로그인으로 돌아가기</div>
                        </div>
                        <input type="submit" value="비밀번호 재설정" id="rePwBtn"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom_line"></div>
        <div class="content" id="content">
            <button class="btn" id="findPwBtn">비밀번호 찾기</button>
            <button class="btn" id="regBtn">회원가입</button>
            <button class="btn" id="logBtn">로그인</button>
            <p></p>
            <div class="g-signin2 google-btn" data-onsuccess="onSignIn" data-theme="dark"
                 id="googleLogin"></div>
        </div>
    </div>
</div>
<!--모달 끝-->
<!-- 숙소 이미지-->
<div>
    <div class="left_side">
    <img src="/static/images/kuala_lumpur/fraser_residencd/studioExecutiveTwin.jpg"/>
    </div>
    <div class="middle_side">
        <img  src="/static/images/kuala_lumpur/fraser_residencd/lobby.jpg"/>
        <img  src="/static/images/kuala_lumpur/fraser_residencd/bar.jpg"/>
    </div>
    <div class="right_side">
        <img  src="/static/images/kuala_lumpur/fraser_residencd/fitness.jpg"/>
        <img  src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
    </div>
</div>

<div class="row">
    <!--        숙소 이름, 간략정보-->
    <div class="left_column">
        <div class="item" id="leftSideTop">
            <div class="hotel_info">
                <div class="hotel_name">
                        프레이저 레지던스 쿠알라룸푸르 (Fraser Residence Kuala Lumpur)
                </div>
                <div style="font-size: 16px; margin-bottom:20px">
                쿠알라룸푸르
                </div>
                <div style="font-size: 16px;">
                    <span>인원 6명</span>&nbsp;
                    <span>침실 1개</span>&nbsp;
                    <span>침대 5개</span>&nbsp;
                    <span>욕실 1개</span>
                </div>
            </div>
            <div style="border-top: 1px #E6E6E6 solid;"></div>
        </div>
<!--숙소설명-->
        <div class="item" id="leftSideMiddle">
            <div class="hotel_info">
                <div class="hotel_description">
                    <p><span>Selamat Datang Ke Malaysia!</span><br /><span>My place is located at the heart of Kuala Lumpur City Centre.</span><br /><span>It is famous for it's rooftop infinity pool with the perfect view of Kuala Lumpur.</span><br /><span>Can be accessible through public railways LRT and KTM. Only 5 minutes drive away from the city centre of Kuala Lumpur filled with tourist attraction and shopping centres.</span></p>
                </div>
            </div>
            <div style="border-top: 1px #E6E6E6 solid;"></div>
            <!--숙소위치-->
            <div class="hotel_info">
                <div class="hotel_map">

                </div>
            </div>

        </div>
<!--숙소후기-->
        <div class="item" id="leftSideBottom">
            <div class="hotel_info">
                <div class="hotel_review">
                    <div style="font-weight: bold; font-size: 17px;">
                        <span >3.9 / 5 </span>&nbsp;
                        <span>이용후기 96</span>
                    </div>
                </div>
            </div>
            <div style="border-top: 1px #E6E6E6 solid;"></div>
        </div>

    </div>
    <!--        숙소 결제-->
        <div class="right_column">
            <div class="item">
                <div>
                    <div class="per_day_charge">₩25,890 / 박</div>
                    <div style="margin: 20px 0 0 0; font-size: 14px">날짜</div>
                    <div class="reservation_tray">
                        <div style="font-size: 14px; text-align: center">
                            체크인 &emsp;&emsp;&emsp; 체크아웃
                            <input type="button" class="calendar_btn" name="daterange" value="" />
                        </div>
                    </div>
                </div>
<!--                요금표시-->
                <div class="receipt">
                    <div class="charge_detail">
                            <span >₩19,554 x 1박</span>
                    <span class="charge">₩19,554</span>
                    </div>

                    <div class="charge_detail">
                            <span >청소비</span>
                        <span class="charge">₩19,554</span>
                    </div>

                    <div class="charge_detail">
                            <span >서비스 수수료</span>
                        <span class="charge">₩19,554</span>
                    </div>

                    <div class="charge_detail" id="chargeSum">
                        <span >총 합계</span>
                        <span class="charge">₩19,554</span>
                    </div>
                </div>
<!--                예약버튼-->
                <div style="padding: 0 20px; margin:20px 0">
                    <input type="button" id="greenBtn" name="btn" value="예약하기" />
                </div>
            </div>
        </div>
</div>
<div class="footer">
    <h5>Hotel reservation dummy site</h5>
</div>

<!--구글 로그인 버튼-->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!--모달처리 JS-->
<script src="/static/js/modal.js"></script>
<script src="/static/js/datepicker.js"></script>
</body>
</html>
