<!doctype html>
<html lang="kr">
<head>
    <title>확인 및 결제</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="https://img.icons8.com/doodle/48/000000/log-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/room/reservation.css"/>
    <!--    datePicker-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--    datePicker-->
</head>
<body>
<div class="top_nav">
    <div class="title">
        <button class="back_btn" name="back_btn"><</button>
        확인 및 결제
    </div>
</div>

<div class="row">
    <!--        숙소 날짜 및 결제 -->
    <div class="left_column">
<!--        숙소 간략정보-->
        <div class="item" id="leftSideTop">
            <div class="tray">
                <div class="card">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                </div>
                <div class="img_desc">
                    <div>
                        <b>프레이저 레지던스 쿠알라룸푸르 (Fraser Residence Kuala Lumpur)</b>
                    </div>
                    <div style="font-size: 14px">
                        <p>인원 6명  침실 1개  침대 5개  욕실 1개</p>
                    </div>
                    <div style="font-size: 14px">
                        <b>3.9 / 5 </b> <span>좋아요 (이용후기 96개)</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="border-top: 1px #E6E6E6 solid;"></div>

<!--        숙소 날짜 확인-->
        <div class="item" id="leftSideMiddle">
            <div class="item_title">예약정보</div>
            <div class="reservation_category">예약날짜</div>
            <div class="reservation_tray">
                <div>
                    <input type="button" class="calendar_btn" name="daterange" value="" />
                </div>
            </div>
        </div>
        <div style="border-top: 1px #E6E6E6 solid;"></div>

        <div class="item" id="messageToHost">
            <div class="reservation_category">호스트에게 메시지 보내기</div>
            <div class="sub_title">호스트에게 여행 목적과 도착 예정 시간을 알려주세요.
            </div>
                <textarea class="message"></textarea>
        </div>
        <div style="border-top: 1px #E6E6E6 solid;"></div>

        <!--        결제수단-->
        <div class="item" id="leftSideBottom">
            <div class="item_title">결제수단</div>
            <div class="payment">
                <button class="btn">카카오페이</button>
                <button class="btn">페이코</button>
            </div>
        </div>

        <div style="border-top: 1px #E6E6E6 solid;"></div>
        <div>
            <input type="button" id="greenBtn" name="btn" value="확인 및 결제" />
        </div>

    </div>
    <!--        숙소 결제-->
    <div class="right_column">
        <div class="item" id="rightSide">
                <div class="right_side_title">요금 세부정보</div>
            <!--                요금표시-->
            <div class="receipt">
                <div class="charge_detail">
                    <span >₩19,554 x 1박</span>
                    <span class="charge">₩19,554</span>
                </div>

                <div class="charge_detail">
                    <span >청소비</span>
                    <span class="charge">₩19,554</span>
                </div>

                <div class="charge_detail">
                    <span >서비스 수수료</span>
                    <span class="charge">₩19,554</span>
                </div>

                <div class="charge_detail" id="chargeSum">
                    <span >총 합계</span>
                    <span class="charge">₩19,554</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <h5>Hotel reservation dummy site</h5>
</div>

<!--모달처리 JS-->
<script src="/static/js/datepicker.js"></script>
</body>
</html>
