<!doctype html>
<html lang="ko">
<head>
    <title><%= title %>의 숙소</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="https://img.icons8.com/doodle/48/000000/log-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/room/search.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/search_form.css"/>
</head>
<body>
<ul class="top_nav">
    <li id="logo"><a href="/" class="active"><img class="logo_image"
                                                  src="https://img.icons8.com/doodle/48/000000/log-cabin.png"></a></li>
    <div id="navAlign">
        <% if(typeof nickname === "undefined") { %>
            <li><a id="openLogin">로그인</a></li>
            <li><a id="openRegister">회원가입</a></li>
        <% }else{ %>
            <li><a>메시지</a></li>
            <li><a>여행</a></li>
            <li><a><%=nickname%></a></li>
            <li><a>로그아웃</a></li>
        <% } %>
    </div>
</ul>
<% if(typeof nickname === "undefined") { %>
    <% include ../layout/modal %>
<% } %>
<!--본문-->
<div class="row">
    <div class="column">
        <!--여행지 검색버튼-->
        <div class="item" id="searchBar">
            <form action="/search" method="get" id="search">
                <div class="form__field">
                    <input type="search" id="place" name="place" value="<%= title %>" placeholder="어디로 여행가시나요?"
                           class="form__input">
                    <span id="searchButton">
                            <span class="search_img">
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/search.png" alt="검색하기">
                            </span>
                            <span class="img_name">
                                 검색
                            </span>
                        </span>
                </div>
            </form>
        </div>

        <!--        숙소 리스트 출력-->
        <div class="item" style="border: 0px">
            <div class="tray">
                <div class="card">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                </div>
                <div class="img_desc">
                    <div>
                        <b>보텍스 스위트 KLCC 바이 이다리스</b>
                        <p>골든 트라이엥글</p>
                    </div>

                    <div class="bottom">
                        <div class="bottom_left">
                            <b>3.9 / 5 </b> 좋아요 (이용후기 96개)
                        </div>
                        <div class="bottom_right">
                            $14.3 / 1박
                        </div>
                    </div>
                </div>

            </div>
            <div class="tray">
                <div class="card">
                    <img src="/static/images/ocean-3605547_640.jpg"/>
                </div>
                <div class="img_desc">
                    <div>
                        <b>보텍스 스위트 KLCC 바이 이다리스</b>
                        <p>골든 트라이엥글</p>
                    </div>

                    <div class="bottom">
                        <div class="bottom_left">
                            3.9/5 좋아요 (이용후기 96개)
                        </div>
                        <div class="bottom_right">
                            $14.3/ 1박
                        </div>
                    </div>
                </div>

            </div>
            <div class="tray">
                <div class="card">
                    <img src="/static/images/ocean-3605547_640.jpg"/>

                </div>
                <div class="img_desc">
                    <div>
                        <b>보텍스 스위트 KLCC 바이 이다리스</b>
                        <p>골든 트라이엥글</p>
                    </div>

                    <div class="bottom">
                        <div class="bottom_left">
                            3.9/5 좋아요 (이용후기 96개)
                        </div>
                        <div class="bottom_right">
                            $14.3/ 1박
                        </div>
                    </div>
                </div>

            </div>
            <div class="tray">
                <div class="card">
                    <img src="/static/images/ocean-3605547_640.jpg"/>

                </div>
                <div class="img_desc">
                    <div>
                        <b>보텍스 스위트 KLCC 바이 이다리스</b>
                        <p>골든 트라이엥글</p>
                    </div>

                    <div class="bottom">
                        <div class="bottom_left">
                            <b>3.9/5</b> 좋아요 (이용후기 96개)
                        </div>
                        <div class="bottom_right">
                            $14.3 / 1박
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="footer">
    <h5>Hotel reservation dummy site</h5>
</div>

<!--구글 로그인 버튼-->
<!--모달처리 JS-->
<script src="/static/js/modal.js"></script>
<!--검색처리 JS-->
<script src="/static/js/room_search.js"></script>
</body>
</html>
