<!doctype html>
<html lang="ko">
<head>
    <title>hotelbooking</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="https://img.icons8.com/doodle/48/000000/log-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/search_form.css"/>
</head>
<body>
<ul class="top_nav">
    <li id="logo"><a href="/" class="active"><img class="logo_image"
                                                  src="https://img.icons8.com/doodle/48/000000/log-cabin.png"></a></li>
    <div id="navAlign">
        <li><a id="openLogin">로그인</a></li>
        <li><a id="openRegister">회원가입</a></li>
    </div>
</ul>
<!--로그인 모달-->
<div class="modal hidden">
    <div class="modal_overlay"></div>
    <div class="modal_content">
        <div class="modal_header">
            <button class="btn">x</button>
        </div>
        <div id="form-main">
            <div id="form-div">
                <!--                    로그인모달-->
                <form method="post" action="auth" name="login-form" id="loginForm">
                    <h1>로그인</h1>
                    <p class="email">
                        <input name="email" type="text" class="validate[required,custom[email]] feedback-input"
                               id="email" placeholder="이메일 주소"/>
                    </p>
                    <p class="password">
                        <input name="password" type="password"
                               class="validate[required,custom[password]] feedback-input" id="password"
                               placeholder="비밀번호"/>
                    </p>
                    <div class="submit">
                        <input type="submit" value="로그인" id="button-green"/>
                    </div>
                </form>
                <!--                회원가입 모달-->
                <form method="post" action="register" name="reg-form" id="regForm">
                    <h1>회원가입</h1>
                    <p class="nick_name">
                        <input name="id" type="text" class="validate[required,custom[id]] feedback-input" id="id"
                               placeholder="이름(닉네임)"/>
                    </p>
                    <p class="email">
                        <input name="email" type="text" class="validate[required,custom[email]] feedback-input"
                               id="email" placeholder="이메일 주소"/>
                    </p>
                    <p class="password">
                        <input name="password" type="password"
                               class="validate[required,custom[password]] feedback-input" id="password"
                               placeholder="비밀번호"/>
                    </p>
                    <div class="submit">
                        <input type="submit" value="회원가입" id="button-green"/>
                    </div>
                </form>
                <!--                비밀번호 재설정 모달-->
                <form method="post" action="find_pw" name="find-pw-form" id="findPwForm">
                    <h1>비밀번호 재설정</h1>
                    <div>계정으로 사용하는 이메일 주소를 입력하시면, 비밀번호 재설정 링크를 전송해 드립니다.</div>
                    <p class="email">
                        <input name="email" type="text" class="validate[required,custom[email]] feedback-input"
                               id="email" placeholder="이메일 주소"/>
                    </p>
                    <div class="email_submit" id="backToLogin">
                        <div class="box">
                            <div id="go_login">로그인으로 돌아가기</div>
                        </div>
                        <input type="submit" value="비밀번호 재설정" id="rePwBtn"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom_line"></div>
        <div class="content" id="content">
            <button class="btn" id="findPwBtn">비밀번호 찾기</button>
            <button class="btn" id="regBtn">회원가입</button>
            <button class="btn" id="logBtn">로그인</button>
            <p></p>
            <div class="g-signin2 google-btn" data-onsuccess="onSignIn" data-theme="dark"
                  id="googleLogin"></div>
        </div>
    </div>
</div>
<!--모달 끝-->
<div class="row">
    <div class="column">
        <!--여행지 검색버튼-->
        <div class="item" id="searchBar">
                <form action="/search" method="get" id="search">
                    <div class="form__field">
                        <input type="search" id="place" placeholder="어디로 여행가시나요?" class="form__input">
                        <div id="searchButton">
                            <span class="search_img">
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/search.png" alt="검색하기" >
                            </span>
                            <span class="img_name">
                                 검색하기
                            </span>
                        </div>
                    </div>
                </form>
        </div>
        <!--여행지 추천-->
        <div class="item" style="border: 0px">
            <div class="item_title">추천하는 여행지</div>
            <div class="tray">
                <div class="card" id="recommendation">
                    <img src="/static/images/ocean-3605547_640.jpg"/>
                    <div class="img_desc">
                        <b>부산</b>
                        <p>대한민국</p>
                    </div>
                </div>
                <div class="card" id="recommendation">
                    <img src="/static/images/ocean-3605547_640.jpg"/>
                    <div class="img_desc">
                        <b>부산</b>
                        <p>대한민국</p>
                    </div>

                </div>
                <div class="card" id="recommendation">
                    <img src="/static/images/ocean-3605547_640.jpg"/>
                    <div class="img_desc">
                        <b>부산</b>
                        <p>대한민국</p>
                    </div>
                </div>
                <div class="card" id="recommendation">
                    <img src="/static/images/ocean-3605547_640.jpg"/>
                    <div class="img_desc">
                        <b>부산</b>
                        <p>대한민국</p>
                    </div>
                </div>
                <div class="card" id="recommendation">
                    <img src="/static/images/ocean-3605547_640.jpg"/>
                    <div class="img_desc">
                        <b>부산</b>
                        <p>대한민국</p>
                    </div>
                </div>
            </div>
        </div>
        <!--숙소-->
        <div class="item" style="border: 0px">
            <div class="item_title">숙소</div>
            <div class="tray">
                <div class="card">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                    <div class="card_info">
                        <div class="card_name">스위트 KLCC 바이 이다리스</div>
                        <div>쿠알라룸푸르</div>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                    <div class="card_info">
                        <div class="card_name">스위트 KLCC 바이 이다리스</div>
                        <div>쿠알라룸푸르</div>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                    <div class="card_info">
                        <div class="card_name">스위트 KLCC 바이 이다리스</div>
                        <div>쿠알라룸푸르</div>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                    <div class="card_info">
                        <div class="card_name">스위트 KLCC 바이 이다리스</div>
                        <div>쿠알라룸푸르</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <h5>Hotel reservation dummy site</h5>
</div>

<!--구글 로그인 버튼-->

<!--모달처리 JS-->
<script src="/static/js/modal.js"></script>
<!--검색처리 JS-->
<script src="/static/js/index.js"></script>
</body>
</html>
