<!doctype html>
<html lang="ko">
<head>
    <title>hotelbooking</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="https://img.icons8.com/doodle/48/000000/log-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modal/login_modal.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modal/search_modal.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/search_form.css"/>
</head>
<body>
<ul class="top_nav">
    <li id="logo"><a href="/" class="active"><img class="logo_image"
                                                  src="https://img.icons8.com/doodle/48/000000/log-cabin.png"></a></li>
    <div id="navAlign">
        <% if(typeof nickname === "undefined") { %>
            <li><a id="openLogin">로그인</a></li>
            <li><a id="openRegister">회원가입</a></li>
        <% }else{ %>
            <li><a href="/message">메시지</a></li>
            <li><a href="/trip">여행</a></li>
            <li><a href="/info"><%= nickname %></a></li>
            <li><a href="/logout">로그아웃</a></li>
        <% } %>
    </div>
</ul>
<% if(typeof nickname === "undefined") { %>
    <% include ./layout/modal/login_modal %>
<% } %>
<!--본문-->
<div class="row">
    <div class="column">
        <!--여행지 검색버튼-->
        <div class="item" id="searchBar">
            <form action="/search" method="get" id="search">
                <div class="form__field">
                    <input type="search" id="place" name="place" placeholder="어디로 여행가시나요?" class="form__input">
                    <div id="searchButton">
                            <span class="search_img">
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/search.png" alt="검색하기">
                            </span>
                        <span class="img_name">
                                 검색
                            </span>
                    </div>
                </div>
            </form>
            <% include ./layout/modal/search_modal %>
        </div>
        <!--여행지 추천-->
        <div class="item" style="border: 0px">
            <div class="item_title">추천하는 여행지</div>
            <div class="tray">
                <div class="card" id="recommendation">
                    <img src="/static/images/recommend/kong-kuala-2937763_640.jpg"/>
                    <div class="img_desc">
                        <b>쿠알라룸푸르</b>
                        <p>말레이시아</p>
                    </div>
                </div>
                <div class="card" id="recommendation">
                    <img src="/static/images/recommend/tokyo-2193354_640.jpg"/>
                    <div class="img_desc">
                        <b>도쿄</b>
                        <p>일본</p>
                    </div>

                </div>
                <div class="card" id="recommendation">
                    <img src="/static/images/recommend/gwanghwamun-636113_640.jpg"/>
                    <div class="img_desc">
                        <b>서울</b>
                        <p>대한민국</p>
                    </div>
                </div>
                <div class="card" id="recommendation">
                    <img src="/static/images/recommend/grand-palace-1822487_640.jpg"/>
                    <div class="img_desc">
                        <b>방콕</b>
                        <p>태국</p>
                    </div>
                </div>
                <div class="card" id="recommendation">
                    <img src="/static/images/recommend/china-2090558_640.jpg"/>
                    <div class="img_desc">
                        <b>시안</b>
                        <p>중국</p>
                    </div>
                </div>
            </div>
        </div>
        <!--숙소-->
        <% include layout/index/room_list.ejs %>
    </div>
</div>
<div class="footer">
    <h5>Hotel reservation dummy site</h5>
</div>
<% if(typeof message !== "undefined") { %>
    <script>
        const message = "<%= message %>";
        if (message !== "") alert(message);
    </script>
<% } %>
<!--모달처리 JS-->
<script src="/static/js/modal.js"></script>
<!--검색처리 JS-->
<script src="/static/js/room_search.js"></script>
<!--메인페이지 JS-->
<script src="/static/js/index.js"></script>

</body>
</html>
