<!doctype html>
<html lang="en">
<head>
    <title>메시지</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="https://img.icons8.com/doodle/48/000000/log-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/user/message.css"/>
</head>

<body>
<ul class="top_nav">
    <li id="logo"><a href="/" class="active"><img class="logo_image"
                                                  src="https://img.icons8.com/doodle/48/000000/log-cabin.png"></a></li>
    <div id="navAlign">
        <li><a>유저 닉네임</a></li>
    </div>
</ul>

<div class="row">
    <div class="column">
        <div class="item_title">메시지</div>

        <div class="item" style="border: 0">
            <div class="tray">
                <div class="profile_img">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                </div>
                <div class="message_info">
                        <div>호스트 이름</div>
                        <p class="margin_top">2019년 6월 1일</p>
                </div>
                <div class="message_detail">
                    <div style="width: 100%;">
                        <div>채팅</div>
                        <p class="margin_top">Hoàn Kiếm, Hà Nội, 베트남 (2019년 5월 29일 - 2019년 5월 31일)</p>
                    </div>
                </div>
            </div>

            <div class="tray">
                <div class="profile_img">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                </div>
                <div class="message_info">
                    <div>호스트 이름</div>
                    <p class="margin_top">2019년 6월 1일</p>
                </div>
                <div class="message_detail">
                    <div style="width: 100%;">
                        <div>채팅</div>
                        <p class="margin_top">Hoàn Kiếm, Hà Nội, 베트남 (2019년 5월 29일 - 2019년 5월 31일)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <h5>Hotel reservation dummy site</h5>
</div>
</body>
</html>