<!doctype html>
<html lang="ko">
<head>
    <title>여행목록</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="https://img.icons8.com/doodle/48/000000/log-cabin.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/user/trip.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css"/>
</head>
<body>
<ul class="top_nav">
    <li id="logo"><a href="/" class="active"><img class="logo_image"
                                                  src="https://img.icons8.com/doodle/48/000000/log-cabin.png"></a></li>
    <div id="navAlign">
        <li><a>유저 닉네임</a></li>
    </div>
</ul>

<div class="row">
    <div class="column">
        <!--        숙소 리스트 출력-->
        <div class="item" style="border: 0px">
            <div class="item_title">여행</div>
            <div class="tray">
                <div class="card">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                    <div class="card_info">
                        <div class="date">5월 29일 - 5월 31일</div>
                        <b>쿠알라룸푸르</b>
                        <p style="font-size: 14px">보텍스 스위트 KLCC 바이 이다리스</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                    <div class="card_info">
                        <div class="date">5월 29일 - 5월 31일</div>
                        <b>쿠알라룸푸르</b>
                        <p style="font-size: 14px">보텍스 스위트 KLCC 바이 이다리스</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/images/kuala_lumpur/fraser_residencd/7e52f5f525ecde6621034f731b49a1e8.jpg"/>
                    <div class="card_info">
                        <div class="date">5월 29일 - 5월 31일</div>
                        <b>쿠알라룸푸르</b>
                        <p style="font-size: 14px">보텍스 스위트 KLCC 바이 이다리스</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="footer">
    <h5>Hotel reservation dummy site</h5>
</div>

<!--구글 로그인 버튼-->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!--모달처리 JS-->
<script src="/static/js/modal.js"></script>
</body>
</html>
